html, body {
	margin: 0;
	padding: 0;
}

#splash {
	padding:30px 0;
	text-align:center;
}

#game {
	display: none;
}
#instructions {
	width: 304px;
	margin: 0px auto;
	font-size: 13px;
	padding-top:1px;
}
#board {
	width: 312px;
	margin: 0px auto;
	cursor: pointer;
	-ms-transform: translate(0, 0); /* IE 9 */
    -webkit-transform: translate(0, 0); /* Chrome, Safari, Opera */
    transform: translate(0, 0);
}
#board > div {
	width: 70px;
	height: 70px;
	margin: 4px;
	line-height: 70px;
	text-align: center;
	font-size: 40px;
	border-radius: 5px;
	background: #ddd;
	float: left;
	transition: all 60ms linear;
}
#board > div.selected {
	background: #ccc;
	-ms-transform: scale(1.05, 1.05); /* IE 9 */
    -webkit-transform: scale(1.05, 1.05); /* Chrome, Safari, Opera */
    transform: scale(1.05, 1.05);
}

#score {
	text-align:center;
}

#answers {
	padding:5px 0;
	width: 304px;
	margin: 0px auto;
}
#answers > div {
	float: left;
	width: 49%;
	letter-spacing: 2px;
	font-family: monospace;
	text-transform: uppercase;
	font-size:16px;
	padding-top: 3px;
}

#restart {
	position: fixed;
	right: 0px;
	top: 0px;
	padding: 5px;
	font-size: 20px;
	color: #777;
	cursor: pointer;
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}